<div class="home-container">

    <div class="welcome-banner">
        <h1>Welcome to Reyceitas</h1>
    </div>

    <div class="action-banners-container">
        <app-action-card [routerLink]="['/recipes']"
            imageUrl="assets/images/check-recipes.jpg"
            description="Want to see our special recipes? Check our full list here."
            buttonIcon="menu_book"
            buttonText="Check recipes">
        </app-action-card>
        <app-action-card *ngIf="isLoggedIn$ | async" [routerLink]="['/recipes/new']"
            imageUrl="assets/images/add-recipe.jpg"
            description="Want to share your cooking secrets? Add a recipe."
            buttonIcon="add"
            buttonText="Add new recipe"
            buttonColor="accent">
        </app-action-card>
    </div>

    <h2>Featured Recipes</h2>
    <app-recipe-showcase *ngIf="recipes$ | async as recipes" [recipes]="recipes"></app-recipe-showcase>
</div>

