<div *ngIf="users" class="flex-col gapped">
    <h2>Users</h2>
    <div class="gradient-shadow">
        <table class="management-table gradient-shadow">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Groups</th>
                    <th><mat-icon>delete</mat-icon></th>
                  </tr>
            </thead>
            
            <tr *ngFor="let userForm of usersFormArray.controls; let i = index" 
                [formGroup]="getFormGroup(userForm)">
                <td data-label="Picture">
                    <app-image [imageUrl]="userForm?.get('profilePicture').value" 
                        [getFromServer]="false" 
                        imageWidth="50px">
                    </app-image>
                </td>
                <td data-label="Name">
                    {{ userForm?.get('fullName').value }}
                </td>
                <td data-label="Email">
                    {{ userForm?.get('email').value }}
                </td>
                <td data-label="Groups">
                    <mat-form-field *ngIf="groups" appearance="outline">
                        <mat-select formControlName="groups" multiple>
                            <mat-option *ngFor="let group of groups" [value]="group._id">
                                {{group.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td> 
                <td data-label="Deactivate">
                    <button mat-mini-fab color="warn" >
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    
</div>

