<mat-form-field appearance="outline">
    <mat-label *ngIf="label"> {{label}} </mat-label>
    <input type="text" ngDefaultControl
        [placeholder]="placeholder" matInput 
        [formControl]="autocompleteInput"
        [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getName">
            <mat-option *ngFor="let option of filteredOptions | async;" 
                    [value]="option" >
            {{option[displayProperty]}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>