:host {
    mat-toolbar {
        justify-content: center;

        .navbar-content {
            display: flex;
            max-width: var(--max-content-width);
            width: 100%;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
            }
        }
    }
    
}