:host {
    mat-toolbar {
        min-height: 60px;
        background-color: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(5px);
        justify-content: center;

        .navbar-content {
            display: flex;
            max-width: var(--max-content-width);
            width: 100%;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
            }
        }

        .title {
            cursor: pointer;
            color: white;
            display: flex;
            align-items: center;
            gap: 4px;

            img {
                padding-bottom: 4px;
            }
        }

        .user-menu {
            display: flex;
            gap: var(--space);
            align-items: center;
            color: white;

            img {
                height: 32px;
                border-radius: 50%;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 250px;
        background-image: url("/assets/images/banner2.jpg");
        background-size: 100%;
        align-items: center;
        h1 {
            text-align: center;
            color: white;
        }
        -moz-box-shadow: inset 0 -10px 10px -10px var(--color-neutral);
        -webkit-box-shadow: inset 0 -10px 10px -10px var(--color-neutral);
        box-shadow: inset 0 -10px 10px -10px var(--color-neutral);
    }   
    
}