:host {
    mat-toolbar {
        justify-content: center;

        .navbar-content {
            display: flex;
            max-width: var(--max-content-width);
            width: 100%;
            align-items: center;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
            }
        }

        .title {
            cursor: pointer;
        }

        .user-menu {
            display: flex;
            gap: var(--space);
            align-items: center;

            img {
                height: 32px;
                border-radius: 50%;
            }
        }
    }
    
}