
<div class="header">
  <mat-toolbar>
    <div class="navbar-content">
      <div>
        <span class="title" [routerLink]="['/home']">Reyceitas</span>
      </div>
      <div>
        <div *ngIf="(isLoggedIn$ | async)">
          <ng-container *ngIf="user$ | async as user">
            <button mat-button class="user-menu" [matMenuTriggerFor]="menu"> 
                <img [src]="user?.profilePicture" referrerpolicy="no-referrer"/>
                {{user?.firstName}} 
                <mat-icon>expand_more</mat-icon>
              </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
            </mat-menu>
          </ng-container>
          
        </div>
        <asl-google-signin-button *ngIf="!(isLoggedIn$ | async)" #googleBtnRef size="medium" type="standard"></asl-google-signin-button>
      </div>
    </div>
    
  </mat-toolbar>

  <app-banner></app-banner>
  
</div>