
<div class="header">
  <mat-toolbar>
    <div class="navbar-content">
      <div>
        <span class="title" [routerLink]="['/home']">
          <img src="/assets/logos/logo-white.svg" width="32px" height="32px" />
          Reyceitas
        </span>
      </div>
      <div class="flex-row gapped">
        
        <div class="flex-row" *ngIf="(isLoggedIn$ | async)">
          <ng-container *ngIf="user$ | async as user">
            <button mat-button class="user-menu" [matMenuTriggerFor]="menu"> 
                <img [src]="user?.profilePicture" referrerpolicy="no-referrer"/>
                {{user?.firstName}} 
                <mat-icon>expand_more</mat-icon>
              </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item  [routerLink]="['/admin-panel']"><mat-icon>admin_panel_settings</mat-icon> Admin Panel</button>
              <button mat-menu-item  [routerLink]="['/profile']"><mat-icon>person</mat-icon> Profile</button>
              <button mat-menu-item  [routerLink]="['/recipes/new']"><mat-icon>add</mat-icon> New Recipe</button>
              <button mat-menu-item  (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
            </mat-menu>
          </ng-container>
          
        </div>
        <asl-google-signin-button *ngIf="!(isLoggedIn$ | async)" #googleBtnRef size="medium" type="standard"></asl-google-signin-button>
      </div>
    </div>
    
  </mat-toolbar>

  <app-banner></app-banner>
  
</div>