:host {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .search-container {
        display: flex;
        gap: var(--space);
        height: 100%;
        width: 100%;
        max-width: 500px;
        align-items: center;
        padding: var(--space);
        mat-form-field {
            width: 100%;
        }
    }
}