<div *ngIf="recipe" class="recipe-container">
    <div class="header-container">
        <h1>{{recipe.title}}</h1>
        <div class="flex-row gapped">
            <button mat-flat-button color="primary" [routerLink]="['/recipes/edit/'+ recipe._id]">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-flat-button color="warn" (click)="deleteRecipe()">
                <mat-icon>delete_forever</mat-icon> Delete
            </button>
        </div>
    </div>
    
    <app-image-carousel [images]="recipe.pictures"></app-image-carousel>

    <div class="recipe-basic-info-container">
        <p *ngIf="recipe.createdBy">Created by {{recipe.createdBy?.firstName}} {{recipe.createdBy?.lastName}}</p>
        <mat-divider [vertical]="true"></mat-divider>
        <app-servings [recipe]="recipe"></app-servings>
        <mat-divider [vertical]="true"></mat-divider>
        <app-difficulty [difficulty]="recipe.difficulty"></app-difficulty>
    </div>

    <h2 *ngIf="recipe.ingredients?.length">Ingredients</h2>
    <div *ngFor="let ingredient of recipe.ingredients" class="flex-col">
        <app-ingredient [ingredient]="ingredient"></app-ingredient>
    </div>

    <h2 *ngIf="recipe.instructions?.length">Instructions</h2>
    <div *ngFor="let instruction of recipe.instructions" class="flex-col">
        <app-instruction [instruction]="instruction"></app-instruction>
    </div>

    <ng-container *ngIf="recipe.notes">
        <h2>Notes</h2>
        <p> {{recipe.notes}} </p>
    </ng-container>
</div>