<div *ngIf="recipe" class="recipe-container">
    <div class="header-container">
        <h1>{{recipe.title}}</h1>
        <div class="flex-row gapped">
            <button mat-flat-button color="primary" [routerLink]="['/recipes/edit/'+ recipe._id]">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-flat-button color="warn" (click)="deleteRecipe()">
                <mat-icon>delete_forever</mat-icon> Delete
            </button>
        </div>
    </div>

    <app-tags [tags]="recipe.tags"></app-tags>
    
    <app-image-carousel [images]="recipe.pictures"></app-image-carousel>

    <div class="recipe-basic-info-container">
        <button mat-button color="accent" (click)="goToPrintPage()"><mat-icon>print</mat-icon>Print recipe</button>
        <p *ngIf="recipe.createdBy">Created by {{recipe.createdBy?.firstName}} {{recipe.createdBy?.lastName}}</p>
        <app-servings [recipe]="recipe" (recalculatedIngredientAmounts)="calculatedIngredients = $event"></app-servings>
        <app-difficulty [difficulty]="recipe.difficulty"></app-difficulty>
    </div>

    <h2 *ngIf="recipe.ingredients?.length">Ingredients</h2>
    <app-ingredients [ingredients]="getIngredients()"></app-ingredients>

    <h2 *ngIf="recipe.instructions?.length">Instructions</h2>
    <div *ngFor="let instruction of recipe.instructions;let i = index" class="flex-col">
        <app-instruction [instruction]="instruction" [stepNumber]="i+1"></app-instruction>
    </div>

    <ng-container *ngIf="recipe.notes">
        <h2>Notes</h2>
        <p> {{recipe.notes}} </p>
    </ng-container>
</div>