:host {
    width: 100%;
    .recipe-container {
        display: flex;
        flex-direction: column;
        gap: var(--space);

        .header-container {
            display: flex;
            justify-content: space-between;
            gap: var(--space);
        }

        .recipe-basic-info-container {
            display: flex;
            flex-direction: row;
            gap: var(--space);
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    
    img {
        max-width: 500px;
        border-radius: var(--border-radius);
    }
}