:host {
    .ingredients-container {
        display: table;
        border-collapse: separate;
        border-spacing: 0 16px;
    }

    .ingredient {
        border-radius: var(--border-radius);
        padding: var(--space);
        cursor: pointer;

        td {
            padding: var(--space);
        }

        &.done {
            color: var(--color-neutral);
            box-shadow: none;

            .unit-cell {
                background-color: var(--color-primary-light);
            }
        }
    }

    .unit-cell {
        background-color: var(--color-primary);
        color: white;
    }

    .details-cell {
        color: var(--color-neutral);
    }
}