:host {
    .servings-container {
        display: flex;
        gap: var(--space);
        justify-content: center;
        align-items: center;
        
        mat-icon {
            color: var(--color-neutral);
        }
    }
    
}