<div *ngIf="form" [formGroup]="form" class="recipe-container">
    <mat-form-field appearance="outline">
        <mat-label>Recipe title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <app-pictures-form [form]="form" [pictures]="recipe?.pictures" ></app-pictures-form>

    <div class="flex-col gapped">
        <h2>Basic Information</h2>
        <mat-form-field appearance="outline">
            <mat-label>Servings</mat-label>
            <input matInput type='number' formControlName="servings" 
                placeholder="Number of people it serves">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Difficulty</mat-label>
            <input matInput formControlName="difficulty" 
                placeholder="1 - very easy, 5 - very hard">
        </mat-form-field>
    </div>

    <app-ingredients-form [form]="form" [ingredients]="recipe?.ingredients"></app-ingredients-form>

    <app-instructions-form [form]="form" [instructions]="recipe?.instructions"></app-instructions-form>

    <app-tags-form [form]="form" [tags]="recipe?.tags"></app-tags-form>

    <h2>Notes</h2>
    <mat-form-field appearance="outline">
        <textarea matInput></textarea>
    </mat-form-field>
    
    
    <div class="save-floating-button">
        <button mat-flat-button  color="primary" (click)="submit()">
            <mat-icon>save</mat-icon> Save
        </button>
    </div>
    
</div>