<input type="file" class="file-input"
       [accept]="requiredFileType"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

    <app-image [imageUrl]="imagePreview" imageWidth="100px" 
              [getFromServer]="alreadyUploadedImage ? true : false"></app-image>

    <button mat-mini-fab *ngIf="!imagePreview"  color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    <button mat-mini-fab *ngIf="imagePreview" color="warn" class="upload-btn"
      (click)="deleteFile()">
        <mat-icon>delete</mat-icon>
    </button>

    <p *ngIf="fileName"> {{fileName}} </p>
    <p *ngIf="!fileName && !imagePreview"> No file uploaded yet. </p>

</div>

<div class="progress">

  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">

  </mat-progress-bar>

  <mat-icon class="cancel-upload" (click)="cancelUpload()" 
            *ngIf="uploadProgress">delete_forever</mat-icon>

</div>