@import 'variables';

.add-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space);
}

.form-container {
    width: -webkit-fill-available;
    display: flex;
    gap: var(--space);
    height: fit-content;
    align-items: center;
    background: white;
    border-radius: var(--border-radius);

    mat-form-field {
        width: 100%;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
    }
}

.form-centralized-button {
    margin-bottom: 1.34375em !important;
}