.mat-button-wrapper {
    display: flex !important;
    align-items: center !important;
    gap: var(--space-small) !important;
    justify-content: center;
}

.mat-icon-button {
    line-height: unset;
 }

 .alert-success {
    background-color: var(--color-success);
    .mat-button-wrapper {
        color: white;
    }
 }

 .alert-error {
    background-color: var(--color-danger);
    .mat-button-wrapper {
        color: white;
    }
 }

 .mat-form-field-wrapper{
    margin-bottom: -1.25em !important;
 }