.mat-button-wrapper {
    display: flex !important;
    align-items: center !important;
    gap: var(--space-small) !important;
    justify-content: center;
}

.mat-icon-button {
    line-height: unset;
 }

 .alert-success {
    background-color: var(--color-success) !important;
    .mat-button-wrapper {
        color: white;
    }
 }

 .alert-error {
    background-color: var(--color-danger) !important;
    .mat-button-wrapper {
        color: white;
    }
 }

.white-input {
    .mat-form-field-outline {
        background: rgba(255, 255, 255, .7) !important;
        opacity: 1 !important;
        border-radius: 9px;
        color: white !important;
    }
 }

.mat-form-field-wrapper{
    margin-bottom: -1.25em !important;
}

.mat-tab-body.mat-tab-body-active, .mat-tab-body-content {
    overflow-y: inherit !important;
}

.centered {
    .mat-chip-list-wrapper {
        justify-content: center !important;
    }
}

.mat-tab-body-wrapper {
    padding: var(--space);
}