/* Table Styles */
.table-wrapper{
    margin: 10px 70px 70px;
    
}

.management-table {
    border-radius: var(--border-radius);
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);

    mat-form-field {
        width: 100%;
    }

    th {
        background: var(--color-primary);
        color: white;
        text-transform: uppercase;
        min-width: 50px;
    }

    td,  th {
        text-align: center;
        text-align: -webkit-center;
        padding: var(--space-small);
    }

    tr:nth-child(even) {
        background: var(--color-background-darker);
    }

}

@media only screen and  (max-width: $mobile-breakpoint) {
    td, tr { display: block; }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr + tr { margin-top: 1.5em; }
    td {
      /* make like a "row" */
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: left;
      display: flex;
        justify-content: space-between;
        align-items: center;
    }
    td:before {
      content: attr(data-label);
      display: inline-block;
      line-height: 1.5;
      white-space: nowrap;
      font-weight: bold;
    }
}