/* Table Styles */
.table-wrapper{
    margin: 10px 70px 70px;
    
}

.management-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);

    th {
        background: var(--color-primary);
        color: white;
        text-transform: uppercase;
    }

    td,  th {
        text-align: center;
        text-align: -webkit-center;
        padding: var(--space-small);
    }

    tr:nth-child(even) {
        background: var(--color-background-darker);
    }

}