.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.gapped {
    gap: var(--space)
}
.gapped-small {
    gap: var(--space)
}

.padded {
    padding: var(--space);
}

.gradient-shadow {
    -webkit-box-shadow: 0px 7px 15px 1px #a28f7d; //var(--color-neutral-light); 
    box-shadow: 0px 7px 15px 1px #a28f7d; //var(--color-neutral-light);
}