:root {
    --space: 16px;
    --space-small: 8px;
    --max-content-width: 998px;
    --border-radius: 4px;
    --color-success: #367743;//#629460;
    --color-danger: #E53D00;
    --color-neutral: #6c6c6c;
    --color-neutral-light: #bdbdbd;
    --color-secondary-light: antiquewhite;
    --color-primary: #775036;
    --color-primary-light: #8b6a54;
    --color-primary-lighter: #ceb09b;
    --color-background: #fffaee;
    --color-background-darker: #efeadf;
}

$tablet-breakpoint: 800px;
$mobile-breakpoint: 600px;
$mobile-small-breakpoint: 400px;

// warn #c12c21