:root {
    --space: 16px;
    --space-small: 8px;
    --max-content-width: 998px;
    --border-radius: 4px;
    --color-success: #629460;
    --color-danger: #E53D00;
    --color-neutral: #6c6c6c;
    --color-neutral-light: #bdbdbd;
    --color-secondary-light: antiquewhite;
    --color-primary: #3f51b5;
    --color-primary-light: aliceblue;
}