<div class="flex-col gapped">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">manage_accounts</mat-icon>
            User Management
          </ng-template>
          <div class="tab-container">
            <app-user-group-editor></app-user-group-editor>
            <app-user-management></app-user-management>
          </div>
          
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">dashboard_customize</mat-icon>
            Editors
          </ng-template>
          <app-tag-editor></app-tag-editor>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">storage</mat-icon>
            Database Management
          </ng-template>
      
          <app-database-management></app-database-management>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">assessment</mat-icon>
              Analytics
            </ng-template>
        
            <app-database-management></app-database-management>
          </mat-tab>
      </mat-tab-group>
    
</div>

<div class="save-floating-button">
  <button mat-flat-button color="primary" >
      <mat-icon>save</mat-icon> Save
  </button>
</div>